$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;
$headerHeight: 95px;
$navHeight: 135px;
$smallNavHeight:65px;
$reorganizeNavAt: 1100px;

header {
	display: flex;
	align-items: center;
	position: fixed;
	height: $headerHeight;
	top:0; left:0; right:0;
	background: $secondaryColor;
	z-index: 10;

	.sw {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

}

.header-logo {
	display: block;
	width: 63px;
	img { width: 100%; }
}

.meta-button {
	@include t-fa();
	text-transform: uppercase;
	color: #cecece;
	display: inline-block;
	margin-left: 8px;
	font-size: 14px;
	outline: none;

	&:before { 
		color: $primaryColor; 
		font-size: 20px;
		display: inline-block;
		margin-right: 5px;
		position: relative;
		top: 2px;
	}

	&:hover { 
		&,
		&:before { color: #fff; }
	}
}

.page-wrapper { padding-top: $headerHeight; }