.nav-wrap { 
	transform: translate3d(290px,0,0);
	width: 290px;
	position: fixed;
	top:0; right:0; bottom:0;
	height: 100vh;
	width: 290px;
	overflow: auto;
	background: $secondaryColor;
	z-index: 21;
	padding: 20px;

	.toggle-nav {
		float: right;
	}

	.social a {
		&:hover { background: $primaryColor; }
	}
}

.mobile-nav-bg {
	transform: translateZ(0);
	width: 100vw;
	height: 10000px;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0; left: 0;
	z-index: -1;
	display: block;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;		
}

.nav-wrap,
.mobile-nav-bg {
	transition: all 0.4s $ease-in-out-sine;	
}
	
.show-nav {
	body { 
		height: 100vh; 
		overflow: hidden; 
	}

	.nav-wrap {
		transform: none;
	}

	.mobile-nav-bg {
		opacity: 1;
		visibility: visible;
		z-index: 21;
		cursor: pointer;
	}
}

nav {
	clear: both;
	padding: 20px 0;

	a {
		color: #cecece;
		display: block;
		text-transform: uppercase;
		padding: 8px 8px 4px;
		border-radius: 4px;
		&:hover {
			background: $primaryColor;
		}
	}
}

/* nav swiper */
.nav-swiper-wrapper {
	margin: 0 -20px 20px;
}

.nav-swipe-item-img {
	display: flex;
	align-items:center;
	justify-content: center;
	height: 260px;
	position: relative;
	margin: 0 0 10px;

	&:after {
		content: "";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background: rgba($primaryColor,0.7);
	}

	span {
		transition: all 0.2s $ease-in-out-sine;
		position: relative;
		z-index: 2;
		color: #eee;
		font-size: 32px;
		text-transform: uppercase;
		display: block;
		padding: 0 2px;
		border: solid #eee;
		border-width: 0 0 4px;
	}

	&:hover {
		span {
			border-width: 4px 0 0;
		}
	}
}

.nav-swipe-item-title,
.nav-swipe-item-content {
	padding: 0 20px;
}

.nav-swipe-item-title { 
	color: $primaryColor;
	font-size: 18px;
	display: block;
	margin: 0 0 10px;
}

.nav-swipe-item-content {
	color: #eee;
	font-size: 14px;
}