$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 12px; 
	cursor: default; 
	
	.sw {
		padding: 20px 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
	display: block;
	float: right;
	img { width: 100%; }
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

/* theme specific footer rules */
.copyright-box {
	flex: 1 1 0;
	address { 
		text-align: center; 
		padding: 0 20px;
	}
}

.footer-row {
	display: flex ;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 40px 0;
	font-size: 14px;
	line-height: 1.8;
	
	.social {
		a { 
			color: $footerLinkColor; 
			&:hover { 
				color: #fff;
				background: $primaryColor; 
			}
		}
	}

}

.footer-logo,
.footer-social {
	flex: 0 0 100px;
}

.footer-logo {
	a {
		float: left;
		display: block;
		width:63px;
		height: 63px;
	}
}

.footer-social {
	.social {
		justify-content: flex-end;
	}
}

.footer-nav {
	flex: 1 1 0;
	padding: 0 15px;
	text-transform: uppercase;

	ul { 
		display: flex; 
		justify-content: center;
		flex-flow: row wrap;
	}

	a {
		display: block;
		padding: 8px 14px;
		border-radius: 4px;
		&:hover {
			background: $primaryColor;
			color: #fff;
		}
	}
}

@media screen and (max-width: 750px) {

	.footer-row {
		display: block;
	}

	.footer-social {
		.social {
			justify-content: center;
		}	
	}

	.footer-logo {
		a { 
			float: none; 
			margin: 0 auto 10px;
		}
	}

	.footer-nav ul {
		display: block;
		text-align:center;
		margin: 20px 0;
	}

	.copyright {
		padding: 20px 0;
		text-align:center;
		.sw { display: block; }

		address {
			margin: 10px 0;
		}
	}

	#jac {
		float: none;
		margin: 10px auto;
	}
}

.footer-map-wrap {
	border-top: 6px solid $primaryColor;
	position: relative;
	margin: 10px 0 30px;
}

.footer-map-arrow {
	@include t-fa-abs();
	overflow:visible;
	color: #fff;
	width: 60px;
	height: 26px;
	padding-top: 6px;
	color: #cecece;
	font-size: 0;
	background: $primaryColor;
	margin: -6px auto 0;
	position: absolute;
	top:0; left:0; right:0;
	cursor: pointer;
	z-index: 10;

	&:after {
		position: absolute;
		top: 100%;
		left:0; right:0;
		content:"";
		width:0; height:0;
		border: solid transparent;
		border-width: 8px 30px;
		border-top-color: $primaryColor;
	}

	&:before {
		font-size:32px;
		text-indent: -3px;
		margin-top: 2px;
		content: $fa-var-angle-down;
	}

	.expanded & {
		&:before { content: $fa-var-angle-up; }
	}
}

.footer-map {
	transition: height 0.3s $ease-in-out-sine;
	height:0;
	background: #000;
	overflow:hidden;
	position: relative;
	.expanded & { height: 400px; }

	iframe {
		position: absolute;
		top:0; left:0;
		width:100%; height:400px;
	}
}

