$buttonColor: #fff !default;
$buttonBackgroundColor: #000 !default;
$buttonHoverColor: #ccc !default;
$buttonHoverBackgroundColor: #000 !default;

/* buttons */
button { background: transparent; border: none; font: inherit;}

.button { 
	color: $buttonColor;
	background-color: $buttonBackgroundColor;
	text-align: center;
	font-family: $defaultFontStack; 
	font-weight:normal; 
	text-transform: uppercase; 
	font-size: 14px; 
	line-height: 1; 
	padding: 10px 16px; 
	display: inline-block; 
	cursor: pointer;
	border-radius: 4px;
	transition: background 0.15s $ease-in-out-sine ;
	
	@if mixin-exists( button ) {
		@include button();
	}
	
	p + & { margin-top: 15px; }
	
	&.sm {
		font-size: 13px; 
		padding: 6px 10px;
	}
	
	&.big {
		font-size: 16px; 
		padding: 12px 20px; 
	}
	
	&.with-ico {
		&:before { margin-right: 5px; }
	}
	
	&:focus,
	a:hover &,
	&:hover {
	
		color: $buttonHoverColor;
		background-color: $buttonHoverBackgroundColor;
	
		@if mixin-exists( buttonHover ) {
			@include buttonHover();
		}
	}
	
}
