$filterBarBackgroundColor: #000 !default;
$filterBarContentColor: #fff !default;

$filterControlBackgroundColor: #fff !default;
$filterControlBackgroundColorActive: #efefef !default;
$filterControlColor: #000 !default;
$filterControlColorActive: #000 !default;

.filter-bar {
	background: $filterBarBackgroundColor;
	
	.filter-bar-content {
		color: $filterBarContentColor; 
		display: flex ;
		flex-flow: row wrap ;
		align-items: center ;
		justify-content: space-between ;
	}
	
	.count {
		display: inline-block; 
		padding-right: 10px; 
		text-transform: uppercase;
	}
	
	.num { 
		display: inline-block; 
		padding: 0 12px; 
		border-radius: 18px; 
		border: 2px solid $filterBarContentColor;
		font-weight:600;
		line-height: 32px; 
		vertical-align: middle; 
		margin: -4px 4px 0 0;
	}

}

.filter-bar-left,
.filter-bar-meta {
	flex: 1 1 auto ;
	padding: 15px 0;
}

.filter-bar-meta { 
	flex-grow: 0 ;
	.single-form {
		margin:0;
		display: inline-block;
		vertical-align: middle;
		&:after { display: none; }
		button { 
			opacity: 0.4; 
			&:hover { opacity: 0.8; }
		}
	}
}

@media screen and (max-width: 650px) {
	.filter-bar-left,
	.filter-bar-meta {
		text-align: center; 
		flex: 1 1 auto ;
	}
}

.filter-controls {

	display: inline-block;
	vertical-align: middle;

	button {
		@include t-fa-abs();
		width: 40px; height: 40px;
		border-radius: 50%;
		background: $filterControlBackgroundColor;
		color: $filterControlColor;
		display: inline-block;
		vertical-align: middle;
		margin-left: 1px;
		transition: all 0.15s $ease-in-out-sine ;
		
		&:before {
			font-size: 32px;
		}
		
		&:hover { 
			background: $filterControlBackgroundColorActive;
			color: $filterControlColorActive;
		}
		
		&.next:before { content: $fa-var-angle-right; text-indent: 4px;}
		&.previous:before { content: $fa-var-angle-left; text-indent: -4px;}
		
	}

}

/* filter sections */
.filter-bar {
	
	.single-form {
		background: #fff;
		width: 250px;
		display: inline-block;
		vertical-align: middle;
		
		input {
		   font-family: $defaultFontStack;
		   color: $primaryColor;
		   padding: 10px;
		}

	}	

}

.filter-bar-buttons {
	display: inline-block;
	
	.selector,
	.button {
		vertical-align:middle;
		transition: none ;
	}
	
	.selector {
		display: inline-flex ;
		margin:0;
		border-radius:4px;
		padding-top: 2px;
		padding-bottom: 1px;
		
		select:focus + .value,
		.value {
			font-weight:normal;
			color: $selectorColor;
			text-transform:none;
		}
		
		&:hover {
			background: $selectorBackgroundColorActive;
			select:focus+.value,
			.value { color: $selectorColorActive; }
		}
		
	}
	
}