$blocksRemoveImgAtWidth: 650px !default;

/* blocks */
.blocks .item { background: #fff;
	display: flex ;
}

.blocks .item.with-title { margin-top: 80px; position:relative;}
.blocks .item.with-title>.hgroup { position: absolute; top: -80px; left:0; right:0; }
.blocks .block { padding: 15px; position: relative; width: 100%; display: block; color: #000; overflow: hidden; font-size:13px;}
.blocks .block.with-button { padding-bottom: 60px; }
.blocks .img-wrap { height: 0; overflow: hidden; margin: 0 0 10px; position: relative; height: 150px; text-align:center; line-height: 150px;}
.blocks .img { position: absolute; top:0; left:0; right:0; bottom:0; }
.blocks p { line-height: 1.8; }
.blocks .button { position: absolute; bottom: 15px; left: 15px; }

.blocks .img {
	transition: all 0.4s $ease-in-out-sine ;
}

%collapsed-blocks-col { width: 100%; max-width: 100% !important; }
%collapsed-blocks-item { display: block !important; background: transparent; }
%collapsed-blocks-block { background: #fff; text-align: left; padding-bottom:0; padding: 10px;}
%collapsed-blocks-block-content-button { position: static; margin: 10px 0; }
%collapsed-blocks-block-img-wrap { position: absolute; top: 0; left:0; width: 250px; bottom:0; margin:0; height: auto; padding:0; }
%collapsed-blocks-block-img-wrap-sibling-div { margin-left: 270px; }
%collapsed-blocks-item-with-title { margin-top:0; }
%collapsed-blocks-item-with-title-hgroup { position: static; }

.blocks.list-view .col { @extend %collapsed-blocks-col; }
.blocks.list-view .item { @extend %collapsed-blocks-item; }
.blocks.list-view .block { @extend %collapsed-blocks-block;  }
.blocks.list-view .item.with-title { @extend %collapsed-blocks-item-with-title;  }
.blocks.list-view .item.with-title>.hgroup { @extend %collapsed-blocks-item-with-title-hgroup; }
.blocks.list-view .block .content .button { @extend %collapsed-blocks-block-content-button; }
.blocks.list-view .block .img-wrap { @extend %collapsed-blocks-block-img-wrap;}
.blocks.list-view .block .img-wrap~div { @extend %collapsed-blocks-block-img-wrap-sibling-div; }

@media screen and (max-width: $blocksRemoveImgAtWidth) {
	.blocks.list-view .block .img-wrap { display: none; }
	.blocks.list-view .block .img-wrap~div { margin-left:0; }
	
	.blocks.list-view .block.keep-img .img-wrap {
		display:block;
		position: relative;
		margin: 0 0 15px;
		width: auto;
		height:0;
		padding: 35% 0 0;
	}
	
}