$heroMaxHeight: 800px;

/* hero */
.hero {
	position: relative;
	background: #000;
}

.swipe-item-bg {
	transition: opacity 0.25s $ease-in-out-sine ;	
	position: absolute;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity:0;
	left:0; right:0; bottom:0; top:0;
	&.loaded,
	.loaded & { opacity:1; }
}

.hero-content-wrap {
	width: 1100px;
	max-width: 80%;
	min-width: 300px;
	margin: 0 auto;
	display: flex;
	align-items:center;
	height: 100%;
}

.hero-content {
	transform: translate3d(0,-60%,0);
	position: relative;
	z-index: 2;
	max-width: 400px;

	p {
		color: #eee;
		font-size: 18px;
		margin: 0 0 10px;
	}
}

body:not(.home) {

	.hero-content {
		transform: none;
		max-width: 600px;

		p { color: $secondaryColor; }
	}
}
	
.hero>.sw {
	body:not(.home) & {
		height: 75vh;
		min-height: 300px;
		max-height: 500px;		
		display: flex;
		align-items: center;
	}

	.work-single & {
		margin-top: -$headerHeight;
		padding-top: $headerHeight;
		height: 100vh !important;
		min-height: 500px !important;
		max-height: 800px !important;
	}
}

.hero-full-bg {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	&:after {
		content: "";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		@include linear-gradient( to right, #fff 0%, rgba(#fff,0) 100% );
		background-color: transparent !important;
	}
}

.hero-content-link {
	text-transform: uppercase;
	color: #eee;
	font-weight:500;
	font-size:18px;
	&:before { 
		color: $primaryColor;
		font-size: 24px;
		margin-right: 5px;
		position: relative;
		top: 2px;
	}
	&:hover { 
		&,
		&:before { color: #fff !important; }
	}
}

.hero-content-title {
	max-width: 500px;
	font-size: 55px;
}

.hero-swiper {

	.swipe-item {
		height: 100vh;
		max-height: $heroMaxHeight;
		min-height: 600px;
		position: relative;
	}
	
	.slick-dots {
		display: block;
		position: absolute;
		left:0; right:0; bottom: 10px;
		z-index: 10;
		text-align: center;
		
		li { 
			display: inline; 
		}
		
		button {
			transition: 0.2s background $ease-in-out-sine ;
			display: inline-block;
			margin: 0 3px;
			width: 12px; height: 12px;
			text-indent: -999em;
			overflow: hidden;
			border: 2px solid #fff;
			border-radius: 8px;
			cursor: pointer;
		}
		
		button:hover,
		.slick-active button {
			background: #fff;
		}
	}
}


@media screen and (min-width: $collapseNavAt) {
	body.home {
		.hero { margin-top: -$headerHeight; }
		.hero .swipe-item { padding-top: $headerHeight; }
		.hero .swipe-item-bg { top: $headerHeight; }
	}
}

@media screen and (max-width: $collapseNavAt) {
	body.home {
		.hero { margin:0; }
		.hero .swipe-item { padding-top:0}
		.hero .swipe-item-bg { top:0; }
	}

	.hero-content-title {
		font-size: 32px;
	}
}