.primary-bg { background: $primaryColor; }
.secondary-bg { background: $secondaryColor; }
.light-bg { background: #eee; }

$collapseHalfBlockAt: 800px;

/* home page */
.explore-modal-wrap { display: none; }
.explore-modal {
	width: 90%;
	margin: 40px auto;
	min-width: 300px;
	max-width: 1170px;
	border: 6px solid #d8d8d8;
	position: relative;

	.mfp-close { display: none; }

	.mpopup-close {
		position: absolute;
		color: #eee;
		top: -40px; right:0;
		&:after {
			content: "\00d7";
			display: inline-block;
			font-size: 28px;
			vertical-align: bottom;
			line-height:1;
			margin-left: 5px;
		}
	}
}

/* overview grid */
.ov-item {
	display: flex !important;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #323439;
	overflow: hidden;

	&.h1 { 
		height: 219px; 
		max-height: 50vh;
	}

	&.h2 {
		height: 380px;
		max-height: 100vh;
	}

	span {
		transition: all 0.2s $ease-in-out-sine;
		position: relative;
		z-index: 2;
		color: #eee;
		font-size: 32px;
		display: block;
		padding: 0 2px;
		border: solid #eee;
		border-width: 0 0 4px;
	}

	&:hover {
		span {
			border-width: 4px 0 0;
		}
	}	

}

.ov-item-bg {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	&,
	&.loaded { opacity: 0.4; }
}

/* half-sidebar */
.main-body {
	.half-sidebar {
		flex: 1 1 50%;
	}
}

/* sidebar gallery */
.sidebar-gallery {
	.item { 
		overflow: hidden; 
		perspective: 1px;
	}
}
.sidebar-gallery-item {
	height: 160px;
}

/* full background section */
section.full-bg {
	height: 100vh;
	min-height: 300px;
	max-height: 500px;
}

/* breadcrumbs */
.breadcrumbs {
	a { 
		vertical-align: middle; 
		text-transform: lowercase;
		&:first-child {
		    display: inline-block;
		    width: 30px;
		    vertical-align: bottom;
		    font-size: 24px;
		    line-height: 24px;
		}
	}
}

/* team members */
.tm {
	height:0;
	overflow:hidden;
	padding:0 0 100%;
	position: relative;
	&:after {
		transition: opacity 0.2s $ease-in-out-sine 0s;
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background: $primaryColor;
		opacity: 0;
		z-index: 1;
	}

	&:hover {
		&:after { 
			opacity: 0.8; 
			transition-delay: 0s;
		}
		.tm-info {
			transform: none;
			transition-delay: 0.2s;
			opacity:1;
		}
	}

}

.tm-info {
	transition: all 0.2s $ease-in-out-sine 0s;
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index: 2;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align:center;
	color: #eee;
	opacity:0;
	font-size: 18px;
	transform: translate3d(0,10%,0);

	span { 
		display: block; 
	}

	.tm-pos {
		color: #cecece;
		font-size: 14px;
	}
}

/* address page */
.address-grid {
	@media screen and (min-width: 650px) {
		.col:nth-child(2) .item {
			text-align:center;
			border: solid #d1d1d1;
			border-width: 0 1px;
		}
	}

}

/* half block */
.half-block {
	position: relative;
	background: #eee;

	p {
		margin: 0 0 15px;
	}

	@media screen and (min-width: $collapseHalfBlockAt) {
		&.img-left {
			.half-block-bg { transform: translate3d(-100%,0,0); }
			.half-block-content { transform: translate3d(100%,0,0); }
		}
	}
}

.half-block-bg {
	position: absolute;
	top:0; right:0; bottom:0;
	width: 50%;

	.swiper-wrapper {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
	}
	.swiper,
	.slick-list,
	.slick-track { height: 100%; }

	.swipe-item { position: relative; }
}

.half-block-content {
	padding: 80px 40px;
	width: 50%;
}

.half-block-tag {
	display: inline-block;
	font-size: 24px;
	padding: 0 0 3px;
	border-bottom: 1px solid $secondaryColor;
	margin: 0 0 15px;
}

.half-block-title {
	display: block;
	font-size: 32px;
	font-weight:500;
	margin: 0 0 10px;
}

@media screen and (max-width: $collapseHalfBlockAt) {
	.half-block-bg { 
		display: none; 
		.half-block-swipers & { 
			display: block; 
			position: static;
			width: auto;

			.swiper-wrapper { 
				position: relative; 
				.swiper { display: none; }
			}
		}
	}
	.half-block-content { 
		width: auto; 
		padding: 20px;
	}
}

/* cards */
.card-grid {
	border-bottom: 1px solid $darkSectionSeparatorColor;
}

.card-item {
	position: relative;
}

.card-item-content {
	width: 50%;
	padding: 30px 20px 40px;
	min-height: 350px;
	position: relative;
	z-index: 2;
	&:before {
		position: absolute;
		top: 20px; right: -44px;
		width:0; height:0;
		content:"";
		border: solid transparent;
		border-width: 14px 22px;
		border-left-color: $secondaryColor;
	}

}

.card-item-bg {
	width: 50%;
	position: absolute;
	top:0; right:0; bottom:0;
	z-index: 1;
}

.card-item-title,
.card-item-subtitle {
	display: block;
}

.card-item-title {
	font-weight: 500;
	font-size: 28px;
}

.card-item-subtitle {
	margin: 0 0 20px;
}

.card-item-link {
	position: absolute !important;
	bottom: 20px; left: 20px;
}

@mixin opposite-card() {
	.card-item-content {
		transform: translate3d(100%,0,0);
		&:before {
			border-color: transparent;
			border-right-color: $secondaryColor;
			right: auto; left: -44px;
		}
	}

	.card-item-bg {
		transform:translate3d(-100%,0,0);
	}
}

.card-grid {

	@media screen and (min-width: 900px) {	
		.col:nth-child(4n+1),
		.col:nth-child(4n+2) { @include opposite-card(); }
	}

	@media screen and (max-width: 900px) and (min-width: 600px) {	
		.col:nth-child(odd) { @include opposite-card(); }
	}	

	@media screen and (max-width: 600px) {
		.card-item-bg { width: 140px; }
		.card-item-content {
			min-height:0; 
			width: auto;
			padding-right: 160px;
			border-top: 1px solid $darkSectionSeparatorColor; 
		}	

		.card-item-title {
			font-size: 20px;
		}

	}	
}

/* section title */
.section-title {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	padding: 40px 0;
}

.section-title-heading { margin:0; }

/* filter bar */
.filter-bar {
	.count { text-transform: none; }
	.num { border: none; display:inline; padding:0; vertical-align: baseline;}
}

.filter-controls {
	button { border-radius: 8px;}
}

/* article with multiple sidebars */
.main-body .sidebar { 
	&.sidebar-primary,
	&.sidebar-secondary {
		flex: 0 1 300px; 
	}
}

@media screen and (max-width: 1020px) {

	.main-body.with-multiple-sidebars {
		flex-flow: row wrap;
		justify-content: center;

		.content {
			flex: 1 2 (850 - $sidebarWidth);
		}

		.sidebar {
			margin: 0 0 20px;
		}

		.sidebar-primary {
			order: inherit;
			padding-left: 20px;
		}

		@media screen and (max-width: 940px) {
			.sidebar-primary { padding:0; }
		}		

	}

}

.main-body time[pubdate] {
	display: inline-block;
	min-width: 150px;
	max-width: 100%;
	margin: 0 0 16px;
	padding: 0 0 4px;
	color: #cecece;
	font-size: 14px;
	border-bottom: 1px solid #cecece;
	&:before { margin-right: 10px; }
}

/* sidebar */
.sidebar-mod {
	.mod-title { 
	}
}

.acc-mod {

	.acc-item {
		margin: 0 0 1px;
		border: 1px solid #e3e3e3;
	}
	
	.acc-item-handle {
		color: $secondaryColor;
		background: #e3e3e3;
		font-size: 14px;
		
		.count {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
			border-radius: 12px;
			margin-right: 5px;
			color: #fff;
			background: $secondaryColor;
			padding: 4px 6px;
		}
		
		&:after { color: $secondaryColor !important; }
	}
	
	.expanded>.acc-item-handle,
	.acc-item-handle:hover { background: darken(#e3e3e3,10); }

	.acc-item-content {

		padding: 10px 0;
		border: none;
		background: #f7f7f7;

		ul { margin:0; }

		a {
			display: block;
			text-align:center;
			color: $primaryColor;
			padding: 5px;

			&:hover {
				background: $primaryColor;
				color: #eee;
			}
		}
	}

}

.share-mod {

	a {
		@include t-fa();
		display: block;
		color: #838894;
		padding: 8px;
		border-radius: 6px;
		margin-left: -8px;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1;
		&:hover { 
			&,
			&:before { color: #fff; }
		}
		&:before {
			font-size: 26px;
			margin-right: 8px;
			width: 32px;
			vertical-align: middle;
		}
	}

	.share-fb {
		&:hover { background:#3b5998;}
		&:before { content: $fa-var-facebook-square;}
	}

	.share-tw {
		&:hover { background: #4099ff;}
		&:before { content: $fa-var-twitter-square; }
	}

}

/* gallery */
.gallery-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;

	time {
		display: block;
		font-size: 14px;
		color: $secondaryColor;
	}
}

.gallery-title {
	font-size: 24px;
	color: $primaryColor;
	display: block;
}

.gallery-item {
	position: relative;
	overflow: hidden;
	&:after {
		content:"";
		display: block;
		height:0;
		width: 100%;
		padding: 0 0 70%;

		.landscape-gallery & {
			padding: 0 0 56.25%;
		}
	}
}

.gallery-bg {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
}

/* list meta */
.list-meta {
	padding: 10px 0;
	@media screen and (min-width: 600px) {
		padding: 0;
		display: flex;
		justify-content: flex-end;
		flex-flow: row wrap;
	}

	.selector { 
		margin:0; 
		width: 100%;
		span { padding: 8px 14px; }
		&:after { border: none; }
	}

}

.list-meta-item {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	background: $primaryColor;
	margin: 10px 0;
	border-radius: $buttonBorderRadius;
	overflow: hidden;

	&:hover {
		background: darken($primaryColor,10);
	}
	
	@media screen and (min-width: 600px) {
		& + & { margin-left: 10px; }
	}

	input[type=checkbox] {
		position: absolute;
		opacity:0;
		+ span { 
			@include t-fa(); 
			display: inline-block;
			padding: 5px 14px;
			&:before { 
				content: $fa-var-square-o; 
				width: 18px;
				margin-right: 8px;
			}
		}

		&:checked + span:before { content: $fa-var-check-square-o; }

	}
}

/* the process block */
.the-process-control-holder {
	position: absolute;
	top:0; left:0; right:0; 
	padding: 10px 20px;
	background: rgba(0,0,0,0.7);
	z-index: 2; 
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: $collapseHalfBlockAt) {
		position: static;
	}

	@media screen and (max-width: 600px) {
		display: block;
		text-align:center;

		.the-process-controls { margin-top: 15px; }
	}
}

.the-process-control-title { margin:0; }

.the-process-controls {
	span { 
		@include t-fa();
		color: #cecece; 
		display: inline-block;
		position: relative;
		font-size: 14px;
		margin: 0 4px;
		cursor: pointer;
		&:before {
			content: $fa-var-circle-o;
			vertical-align: middle;
			margin-right: 4px;
		}

		&.selected:before { content: $fa-var-dot-circle-o; }
	}
}

/* specifications block */
.specifications-control-holder {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid #000;

	@media screen and (max-width: $collapseHalfBlockAt) {
		position: static;
	}

	@media screen and (max-width: 600px) {
		display: block;
		text-align:center;

		.specifications-controls { margin-top: 15px; }
	}
}

.specifications-control-title {
	font-size: 22px;
}

.specifications-controls span {
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
	position: relative;

	&.selected { 
		color: $primaryColor; 

		&:before,
		&:after {
			content:"";
			position: absolute;
			bottom:-16px; left:0; right:0;
			margin: 0 auto -10px;
			display: block;
			width:0; height:0;
			border: 8px solid transparent;
			border-top-color: $secondaryColor;
		}

		&:before {
			margin-bottom: -12px;
			border-width: 9px;
			border-top-color: #000;
		}
	}

}